<%- include("include/base.ejs")  %>
<link rel="stylesheet" href="/css/home/home.css">
    </head>
<%- include("include/header.ejs")  %>
    <main class="main">
        
    </main>
<%- include("include/end.ejs")  %>

